body {
  margin: 0;
  display: flex;
}

nav .navButton {
  position: absolute;
  right: 50px;
}

.container {
width: 40vw;
margin-top: 300px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.bankAccount {
  position: relative;
  top: 120px; 
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.Transactions {
  margin-left: 80px;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

h1 {
  font-size: 3.2em;
}


h2 {
  position: absolute;
  top: 250px;
  left: 70px;
}

h3 {
  margin-top: 100px;
  margin-bottom: 20px;
}

.navShow button {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: -100px;
  margin-right: -100px;
}

td {
  padding-right: 60px;
}

h4 {
  font-size: 40px;
}

button {
  border-radius: 8px;
  color: white;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}