@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Great+Vibes&family=Kaushan+Script&family=Satisfy&display=swap");

body {
  margin: 0;
  display: flex;

}
nav {
  background-image: url(/budget\ image.png);
  font-family: 'Satisfy', cursive;
}

nav .navButton {
  position: absolute;
  right: 50px;
  font-size: 20px;
}

.container {
  margin-top: 300px;
}

a {
  font-weight: 500;
  color: #d62549;
  text-decoration: inherit;
}
a:hover {
  color: #ae445a;
}

.bankAccount {
  position: relative;
  top: 120px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #070f7ef5;
  color: #e8bcb9;
  padding: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

.progress-fill {
  height: 100%;
  background-color: #4CAF50;
  border-radius: 4px;
  transition: width 0.3s ease-in;
}

.Transactions {
  margin-left: 30px;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

th {
  font-size: 20px;
  padding-bottom: 10px;
}

h1 {
  font-size: 3.2em;
}

h2 {
  position: absolute;
  top: 325px;
  left: 70px;
}

.transac-info {
  border: 2px solid #d62549;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 2px;
  margin-bottom: 10px;
}

.transac-info p,
h3 {
  margin-left: 20px;
}

h3 {
  margin-top: 25px;
  margin-bottom: 20px;
}

.navShow button {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: -100px;
  margin-right: -100px;
}

td {
  padding-right: 60px;
}

h4 {
  font-size: 40px;
}

.cancelButton {
  display: flex;
  margin-top: 10px;
  margin-left: 110px;
}

button {
  border-radius: 8px;
  color: white;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #451952;
}
